.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.pagination li {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: PT Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 180% */
  text-transform: uppercase;
}
.pagination__item {
  background-color: var(--blue-82);
  color: var(--white-default);
  border-radius: 0.4rem;
  cursor: pointer;
}
.pagination__item:hover {
  transform: scale(1.03);
}
.pagination__dots {
  color: var(--black-default);
}

.desable {
  pointer-events: none;
  background-color: var(--gray-f2);
  color: var(--black-default);
}
